.contenedorVista {
    padding: 4em;
   
}

.lista{
    color: #596679;
   margin-left: 250px;
   margin-right: 250px;
   padding: 3em;
}

.titulo3 {
    color: #596679;
    text-align: center;
}

@media (max-width: 700px) {
    .contenedorVista {
        padding: 2em;
    }
    .titulo3 {
        color: #596679;
        margin-left: 0px;
       margin-right: 0px;
    }
    .lista {
        color: #596679;
       margin-left: 0px;
       margin-right: 0px;
       padding: 1em;
 
    }
 
 
 }